@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
	margin: 0;
	padding: 0;
	font-family: font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #333;

}
img{
	max-width: 100%;
	display: block;
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.navbar-default {
    background-color: transparent;
    border-color:transparent;
}


#Protfolio-section{
	height: 80vh;
	background-size: cover,cover;
	background-position: center center,center center;

	background-image: url(../images/shdw.png), url(../images/bg.jpg);
	position: relative;
	background-repeat: no-repeat, no-repeat;
}
.header{
	position: absolute;
	color: #fff;
	text-align: center;
	
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
#service{
	text-align: center;

}
.content{
	text-align: center;
}
.collum{
}
.content img{
	margin: 0 auto;

}


